@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');



    


#ul-a {
    list-style-type: circle;
}





footer {
    padding: 1em;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 3;
    background-color: grey;
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
    

}

/*nav {

   
}

nav > a {
    text-decoration: none;
    color: white;
    margin: 1rem;
}

nav > a:hover {
    color: silver;
}
*/
footer > a {
color: white;
text-decoration: none;
padding: 0 15px;
font-size: 0.8rem;
}

footer > span {
color: darkgray;


}

.heading-background {
    background-color: #403D39;
    margin: 0;
    color: whitesmoke;

}

#explosion-header {
    text-align: center;
}

#countdown {
    list-style-type: none;
    padding: 2;
}

.page-quotes {
    padding: 1rem 0;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 10px;
    
}

.page-head-nav {
    margin-bottom: 10px;
    background-color: #5f5a4d;
    color: whitesmoke;
    text-align: center;
    padding: 1em;
    font-size: 1.3rem;
    word-spacing: 1rem;
    text-transform: uppercase;
    font-family:'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
   border-radius: 10px;
    
    
}

a:visited {
    color:white;
}

a:link {
    color:white;
}

a:visited, a:link {
    text-decoration: none;
}

.content-box {
    background-color: #969286;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
   
}



body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('https://d.newsweek.com/en/full/2180295/chernobyl-ferris-wheel.jpg');
    background-position: center;
}
 div > p {
    text-align: center;
 }

 li > strong {
    color: black;
 }

 #index-bg {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
 }

 .margin-indent {
padding: 0 350px 0 350px;
 }

 section p {
    padding: 5px;
    text-align: center;
 }
