#index-background {
    background-image: url('https: //pixabay.com/photos/pripyat-chernobyl-tea-1374515/');
    
}

#ul-a {
    list-style-type: circle;
}





footer {
    padding: 1em;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 3;
    background-color: grey;
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;

}

/*nav {

   
}

nav > a {
    text-decoration: none;
    color: white;
    margin: 1rem;
}

nav > a:hover {
    color: silver;
}
*/
footer > a {
color: white;
text-decoration: none;
padding: 0 15px;
font-size: 0.8rem;
}

footer > span {
color: darkgray;

}

.heading-background {
    background-color: #403D39;
    margin: 0;
    color: whitesmoke;

}

#explosion-header {
    text-align: center;
}

#countdown {
    list-style-type: none;
}

.page-quotes {
    padding: 1rem 0;
    margin-bottom: 50px;
    text-align: center;
}

.page-head-nav {
    margin-bottom: 10px;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 0 20px;
    font-size: 1.3rem;
    
    
}

a:visited {
    color:white;
}

a:link {
    color:none;
}

a:visited, a:link {
    text-decoration: none;
}