@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');



    
}

#ul-a {
    list-style-type: circle;
}





footer {
    padding: 1em;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 3;
    background-color: grey;
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    

}

/*nav {

   
}

nav > a {
    text-decoration: none;
    color: white;
    margin: 1rem;
}

nav > a:hover {
    color: silver;
}
*/
footer > a {
color: white;
text-decoration: none;
padding: 0 15px;
font-size: 0.8rem;
}

footer > span {
color: darkgray;

}

.heading-background {
    background-color: #403D39;
    margin: 0;
    color: whitesmoke;

}

#explosion-header {
    text-align: center;
}

#countdown {
    list-style-type: none;
    padding: 2;
}

.page-quotes {
    padding: 1rem 0;
    margin-bottom: 50px;
    text-align: center;
    text-shadow: 1px 1px 2px #5f5a4d;
}

.page-head-nav {
    margin-bottom: 10px;
    background-color: #5f5a4d;
    color: whitesmoke;
    text-align: center;
    padding: 1em;
    font-size: 1.3rem;
    word-spacing: 1rem;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
   
    
    
}

a:visited {
    color:white;
}

a:link {
    color:white;
}

a:visited, a:link {
    text-decoration: none;
}

.content-box {
    background-color: #969286;
    color: whitesmoke;
    text-transform: center;
    width: 100%;
}

#index-content-section {
    
    
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 div > p {
    text-align: center;
 }

 li > strong {
    color: black;
 }